@page
@model LearningDiary.WebUI.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SavePointDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.Link)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.Link)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SavePointDetails.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SavePointDetails.Tags)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
